
    <div class="banner _home">
      <div class="content">
        <div class="container">
          <div class="text">
            <div class="la la-cannot_patient d-block d-sm-none" id="la-cannot_patient"
              title="I can treat my FA progression" aria-label="I can treat my FA progression"></div>
            <div class="la la-cannot_patient_desktop d-none d-sm-block" id="la-cannot_patient_desktop"
              title="I can treat my FA progression" aria-label="I can treat my FA progression"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="figNote-sm">Not an actual patient.</p>
      </div>
      <div class="bg">
        <picture>
          <source srcset="{{ base_path ~ directory }}/images/dtc/home_banner.png" media="(min-width: 541px)" />
          <source srcset="{{ base_path ~ directory }}/images/dtc/home_banner-sm.png" media="(max-width: 540px)" />
          <img src="{{ base_path ~ directory }}/images/dtc/home_banner-sm.png" alt="banner" style="width: 100%; ">
        </picture>
      </div>
    </div>

    <section class="midTitle">
      <div class="shapeCrop angle-right-bottom"></div>
      <div class="pattern _3  _bannerPattern">
        <picture>
          <source srcset="{{ base_path ~ directory }}/images/dtc/pattern_1_sm.png" media="(max-width: 575px)" />
          <img src="{{ base_path ~ directory }}/images/dtc/pattern_1.png">
        </picture>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-17 offset-lg-4 ">
            <h1 class="h1">
              SKYCLARYS is used for the treatment of Friedreich ataxia (FA) in adults and children 16 years of age and
              older </h1>
            <div class="action">
              <a class="btn btn-accent btn-lg" href="javascript:;"><span>Get SKYCLARYS</span></a>
            </div>
            <p class="mt-3 mb-0"> <strong> Talk to your doctor to see if SKYCLARYS is right for you</strong></p>
          </div>
        </div>

      </div>
      <div class="shapeCrop angle-right-top"></div>
    </section>
    <section class=" midTitle second">

      <div class="container">
        <div class="row align-items-center">
          <div class="offset-lg-4 col-lg-15 ">
            <h2 class="h2 boldedSecondary prime">
              SKYCLARYS is the first and only FDA-approved prescription medicine to treat FA for patients 16 years and
              older </h2>
            <div class="action">
              <a class="btn btn-accent btn-lg" href="javascript:;"><span>About SKYCLARYS</span></a>
            </div>
          </div>
        </div>

      </div>
      <div class="shapeCrop angle-left-top"></div>
    </section>
    <section class="underStanding">
      <div class="container">
        <div class="row">
          <div class="col-lg-16 offset-lg-4 ">
            <div class="pageTitle">
              <div class="pattern _2 ">
                <img src="{{ base_path ~ directory }}/images/hcp/pattern_2.png">
              </div>
              <h2 class="h2 ">
                Understanding FA
              </h2>
            </div>

            <div class="questions">
              <div class="row">
                <div class="col-md-8">
                  <div class="innerContent ">

                    <h4 class="h4">
                      What is FA?
                    </h4>
                    <p>
                      FA is a rare, progressive disease that damages the nervous system, causing you to lose control of
                      your muscles over time.
                    </p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="innerContent ">
                    <h4 class="h4">
                      What causes FA?
                    </h4>
                    <p>
                      FA happens when a specific gene, called the frataxin gene (or FXN), does not function properly and
                      cannot help nerve cells work the way they should.
                    </p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="innerContent ">


                    <h4 class="h4">
                      How is FA diagnosed?
                    </h4>
                    <p>
                      FA can be confirmed with a genetic test. It is important that the test include a Friedreich
                      Ataxia
                      Repeat Expansion Analysis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="h4">
              What happens as FA progresses?
            </h4>
            <p>
              As you get older, FA continues to damage nerve cells, which leads to greater difficulty with things like:
            </p>
            <ul class="symptomsList">
              <li>
                <div class="card ">
                  <div class="cardHeader">
                    <h5 class="h5">Standing</h5>
                  </div>
                  <div class="cardContent">
                    <img src="{{ base_path ~ directory }}/images/dtc/standing.svg" alt="standing">
                  </div>
                </div>
              </li>

              <li>
                <div class="card ">
                  <div class="cardHeader">
                    <h5 class="h5">Walking</h5>
                  </div>
                  <div class="cardContent">
                    <img src="{{ base_path ~ directory }}/images/dtc/walking.svg" alt="walking">
                  </div>
                </div>
              </li>

              <li>
                <div class="card ">
                  <div class="cardHeader">
                    <h5 class="h5">Talking</h5>
                  </div>
                  <div class="cardContent">
                    <img src="{{ base_path ~ directory }}/images/dtc/talking.svg" alt="talking">
                  </div>
                </div>
              </li>

              <li>
                <div class="card ">
                  <div class="cardHeader">
                    <h5 class="h5">Fine motor skills</h5>
                  </div>
                  <div class="cardContent">
                    <img src="{{ base_path ~ directory }}/images/dtc/skills.svg" alt="skills">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="listSection withSkewShape">
      <div class="shapeCrop angle-left-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-16 offset-lg-4 ">
            <div class="pageTitle">
              <h2 class="h2 ">How can FA progression be measured?</h2>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div class="innerContent ">
                  <img src="{{ base_path ~ directory }}/images/dtc/fa_measured_1.svg" alt="severity">
                  <p>
                    The severity of FA can be measured in different ways—one way is the modified Friedreich Ataxia
                    Rating Scale (mFARS)
                  </p>
                </div>
              </div>
              <div class="col-md-8">
                <div class="innerContent ">
                  <img src="{{ base_path ~ directory }}/images/dtc/fa_measured_2.svg" alt="severity">
                  <p>Most people with FA will need to use a wheelchair around 10 to 15 years after they are first
                    diagnosed</p>
                </div>
              </div>
              <div class="col-md-8">
                <div class="innerContent ">
                  <img src="{{ base_path ~ directory }}/images/dtc/fa_measured_3.svg" alt="severity">
                  <p>Unfortunately, complications from FA can contribute to a shorter average life expectancy</p>
                </div>
              </div>
              <p>
                It is important to understand that the rate of FA progression will vary from person to person and that
                mFARS scores will change on an individual basis. For example, patients who are diagnosed at a younger
                age typically see their mFARS scores rise more quickly than older patients.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="shapeCrop angle-left-top"></div>
    </section>
    <section class="cta">
      <div class="pattern _3 ">
        <picture>
          <img src="{{ base_path ~ directory }}/images/dtc/pattern_3.png" alt="">
        </picture>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-16 offset-lg-4 ">
            <div class="btnCard">
              <div class="row">
                <div class="col-md-12">
                  <div class="card borderCard ">
                    <div class="cardHeader">
                      Are you ready to talk to your doctor about treating FA?
                    </div>
                    <div class="cardContent"><a class="btn btn-accent btn-lg" aria-label="View patient resources Button"
                        href="javascript:;"><span area-hidden="false">View patient resources</span></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card borderCard ">
                    <div class="cardHeader">
                      Sign up for more information about SKYCLARYS
                    </div>
                    <div class="cardContent"><a class="btn btn-accent btn-lg" aria-label="Sign Up Button"
                        href="javascript:;"><span area-hidden="false">Sign
                          up</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="ISI">
      <div class="container">
        <div class="content"></div>
      </div>
    </div>

    {% include "themes/custom/skyclarys/templates/components/isi.html.twig" %}
